*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.container{
    text-align:center;
}
.container input{
    margin: 0 auto;
    text-align: center;

}
.container-dbResults h2{
    text-align: center;
}

